<body>
<h2>
  Manage Cars
</h2>

<ul class="list-group">
  <li class="list-group-item"><%= link_to "Add Car", new_car_url , method: "get" %></li>
  <li class="list-group-item"><%= link_to "View/Edit/Delete/History Cars", cars_path, method: "get" %></li>
</ul>
</body>