<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Hi <%= @details.name %>!</h1>
 <p>The car <%= @details.model %> you wished, is available now.
  <br> Thanks for subscribing, Login to Reserve the car.
</p>
</body>
</html>