<center>
<h1> Suggestion Added</h1>

<p>
  <strong>Model:</strong>
  <%= @suggestion.model %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @suggestion.manufacture %>
</p>

<p>
  <strong>Style:</strong>
  <%= @suggestion.style %>
</p>
</center>